
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 400px;
    background: #f4f4f4;
    padding: 15px;
    border-right: 2px solid #ddd;
    overflow-y: auto;
    position: relative;
}

.sidebar input, .sidebar select {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 16px;
}

#searchResults {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 90%;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding: 0px;
    margin-top: -5px;
    z-index: 10;
}

.search-result-item {
    padding: 5px;
    cursor: pointer;
}

.search-result-item:hover {
    background: #ddd;
}

.collapsible {
    cursor: pointer;
    font-weight: bold;
    display: block;
    padding: 5px;
}

.collapsible:hover {
    color: #007BFF;
}

#fileTree ul {
    list-style-type: none;
    padding-left: 15px;
}

#fileTree li {
    cursor: pointer;
    padding: 5px;
}

#fileTree li:hover {
    background: #ddd;
}

.content {
    flex-grow: 1;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 90%;
    height: 90%;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

.pdf-link {
    cursor: pointer;
    color: #007BFF;
}

.pdf-link:hover {
    text-decoration: underline;
}